%footer
  .container
    %p
      Email: 
      = link_to 'info@mocra.com', 'mailto:info@mocra.com'
      &bull; Ph. (AU)
      = link_to '+61 7 3102 3237', 'callto://+61731023237', :class => 'phone'
      &bull; Ph. (USA/INT)
      = link_to '+1 845 704 1747', 'callto://+18457041747', :class => 'phone'
      %br
      Lvl 1, 46 Douglas St, Milton 4064, QLD, Australia.
    = image_tag "footer-logo.png"
    %small
      %p
        Mocra is a registered trademark of Dr Nic Academy Pty Ltd.
      %p
        The names and logos for :mocra.flux, :mocra, :m and the slogan 'ruby done right.' are trademarks of Dr Nic Academy Pty Ltd.
      %p
        All content and design is copyright &copy; 2008-#{Date.today.year} Dr Nic Academy Pty Ltd. All rights reserved.